* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(164, 87, 236);

}

main {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgb(141, 51, 51);
}

h1 {
    font-size: 2em;
    color: rgb(68, 32, 32);
}

h2 {
    font-size: 1.5em;
    color: rgb(190, 167, 36);
}

img.lado {
    float: right;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(70, 138, 70);
}

a:hover {
    text-decoration: underline;
    color: blue;
}